[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-limiter = "*"
flask-mail = "*"
python-dateutil = "*"
pyjwt = "*"
werkzeug = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
passlib = "*"
bcrypt = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow-enum = "*"
celery = "*"
redis = "*"
emails = "*"
jinja2 = "*"
pillow = "*"
python-magic = "*"
boto3 = "*"
geopy = "*"
requests = "*"
twilio = "*"
stripe = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
factory-boy = "*"
faker = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
ipdb = "*"
ipython = "*"
python-dotenv = "*"
flask-restx = "*"
apispec = "*"
gevent = "*"
gunicorn = "*"
whitenoise = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
prometheus-flask-exporter = "*"
flasgger = "*"

[dev-packages]

[requires]
python_version = "3.12"
